form {
    width: 100%;
    height: 100%;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1em;
  }
  
  table {
    th {
      border-top: 0;
    }
  }
  
  .status-container {
    width: 10em;
    padding: 5px;
    text-align: center
  }
  
  //fix for mat paginator selector; to be removed once it's fixed in ifm components
  :host::ng-deep mat-paginator {
    .mat-form-field-infix {
      padding: 2px 0 8px !important;
      min-width: 3.5em !important;
    }
  }
  
  .align-center {
    align-self: center;
  }
  
  .table-container {
    height: 70vh;
    display: flex;
  }
  
  .table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  